<h3>Welcome to your Dashboard!</h3>


<% @sets.each do |set| %>

	<div>
		<h3><span><%= set.name %></span></h3>
	</div>
	<% @cardsInSet.each do |card| %>

	<div>
		<span><%= card.name %></span>
	</div>

<% end %>

<% end %>
